@import url(normalize.css);
/* line 7, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
}

/* line 20, ../sass/style.scss */
.container {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(6.77966%, rgba(210, 105, 30, 0.5)), color-stop(6.77966%, rgba(210, 105, 30, 0.25)), color-stop(8.47458%, rgba(210, 105, 30, 0.25)), color-stop(8.47458%, rgba(210, 105, 30, 0.5)), color-stop(15.25424%, rgba(210, 105, 30, 0.5)), color-stop(15.25424%, rgba(210, 105, 30, 0.25)), color-stop(16.94915%, rgba(210, 105, 30, 0.25)), color-stop(16.94915%, rgba(210, 105, 30, 0.5)), color-stop(23.72881%, rgba(210, 105, 30, 0.5)), color-stop(23.72881%, rgba(210, 105, 30, 0.25)), color-stop(25.42373%, rgba(210, 105, 30, 0.25)), color-stop(25.42373%, rgba(210, 105, 30, 0.5)), color-stop(32.20339%, rgba(210, 105, 30, 0.5)), color-stop(32.20339%, rgba(210, 105, 30, 0.25)), color-stop(33.89831%, rgba(210, 105, 30, 0.25)), color-stop(33.89831%, rgba(210, 105, 30, 0.5)), color-stop(40.67797%, rgba(210, 105, 30, 0.5)), color-stop(40.67797%, rgba(210, 105, 30, 0.25)), color-stop(42.37288%, rgba(210, 105, 30, 0.25)), color-stop(42.37288%, rgba(210, 105, 30, 0.5)), color-stop(49.15254%, rgba(210, 105, 30, 0.5)), color-stop(49.15254%, rgba(210, 105, 30, 0.25)), color-stop(50.84746%, rgba(210, 105, 30, 0.25)), color-stop(50.84746%, rgba(210, 105, 30, 0.5)), color-stop(57.62712%, rgba(210, 105, 30, 0.5)), color-stop(57.62712%, rgba(210, 105, 30, 0.25)), color-stop(59.32203%, rgba(210, 105, 30, 0.25)), color-stop(59.32203%, rgba(210, 105, 30, 0.5)), color-stop(66.10169%, rgba(210, 105, 30, 0.5)), color-stop(66.10169%, rgba(210, 105, 30, 0.25)), color-stop(67.79661%, rgba(210, 105, 30, 0.25)), color-stop(67.79661%, rgba(210, 105, 30, 0.5)), color-stop(74.57627%, rgba(210, 105, 30, 0.5)), color-stop(74.57627%, rgba(210, 105, 30, 0.25)), color-stop(76.27119%, rgba(210, 105, 30, 0.25)), color-stop(76.27119%, rgba(210, 105, 30, 0.5)), color-stop(83.05085%, rgba(210, 105, 30, 0.5)), color-stop(83.05085%, rgba(210, 105, 30, 0.25)), color-stop(84.74576%, rgba(210, 105, 30, 0.25)), color-stop(84.74576%, rgba(210, 105, 30, 0.5)), color-stop(91.52542%, rgba(210, 105, 30, 0.5)), color-stop(91.52542%, rgba(210, 105, 30, 0.25)), color-stop(93.22034%, rgba(210, 105, 30, 0.25)), color-stop(93.22034%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.77966%, rgba(210, 105, 30, 0.25) 6.77966%, rgba(210, 105, 30, 0.25) 8.47458%, rgba(210, 105, 30, 0.5) 8.47458%, rgba(210, 105, 30, 0.5) 15.25424%, rgba(210, 105, 30, 0.25) 15.25424%, rgba(210, 105, 30, 0.25) 16.94915%, rgba(210, 105, 30, 0.5) 16.94915%, rgba(210, 105, 30, 0.5) 23.72881%, rgba(210, 105, 30, 0.25) 23.72881%, rgba(210, 105, 30, 0.25) 25.42373%, rgba(210, 105, 30, 0.5) 25.42373%, rgba(210, 105, 30, 0.5) 32.20339%, rgba(210, 105, 30, 0.25) 32.20339%, rgba(210, 105, 30, 0.25) 33.89831%, rgba(210, 105, 30, 0.5) 33.89831%, rgba(210, 105, 30, 0.5) 40.67797%, rgba(210, 105, 30, 0.25) 40.67797%, rgba(210, 105, 30, 0.25) 42.37288%, rgba(210, 105, 30, 0.5) 42.37288%, rgba(210, 105, 30, 0.5) 49.15254%, rgba(210, 105, 30, 0.25) 49.15254%, rgba(210, 105, 30, 0.25) 50.84746%, rgba(210, 105, 30, 0.5) 50.84746%, rgba(210, 105, 30, 0.5) 57.62712%, rgba(210, 105, 30, 0.25) 57.62712%, rgba(210, 105, 30, 0.25) 59.32203%, rgba(210, 105, 30, 0.5) 59.32203%, rgba(210, 105, 30, 0.5) 66.10169%, rgba(210, 105, 30, 0.25) 66.10169%, rgba(210, 105, 30, 0.25) 67.79661%, rgba(210, 105, 30, 0.5) 67.79661%, rgba(210, 105, 30, 0.5) 74.57627%, rgba(210, 105, 30, 0.25) 74.57627%, rgba(210, 105, 30, 0.25) 76.27119%, rgba(210, 105, 30, 0.5) 76.27119%, rgba(210, 105, 30, 0.5) 83.05085%, rgba(210, 105, 30, 0.25) 83.05085%, rgba(210, 105, 30, 0.25) 84.74576%, rgba(210, 105, 30, 0.5) 84.74576%, rgba(210, 105, 30, 0.5) 91.52542%, rgba(210, 105, 30, 0.25) 91.52542%, rgba(210, 105, 30, 0.25) 93.22034%, rgba(210, 105, 30, 0.5) 93.22034%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.77966%, rgba(210, 105, 30, 0.25) 6.77966%, rgba(210, 105, 30, 0.25) 8.47458%, rgba(210, 105, 30, 0.5) 8.47458%, rgba(210, 105, 30, 0.5) 15.25424%, rgba(210, 105, 30, 0.25) 15.25424%, rgba(210, 105, 30, 0.25) 16.94915%, rgba(210, 105, 30, 0.5) 16.94915%, rgba(210, 105, 30, 0.5) 23.72881%, rgba(210, 105, 30, 0.25) 23.72881%, rgba(210, 105, 30, 0.25) 25.42373%, rgba(210, 105, 30, 0.5) 25.42373%, rgba(210, 105, 30, 0.5) 32.20339%, rgba(210, 105, 30, 0.25) 32.20339%, rgba(210, 105, 30, 0.25) 33.89831%, rgba(210, 105, 30, 0.5) 33.89831%, rgba(210, 105, 30, 0.5) 40.67797%, rgba(210, 105, 30, 0.25) 40.67797%, rgba(210, 105, 30, 0.25) 42.37288%, rgba(210, 105, 30, 0.5) 42.37288%, rgba(210, 105, 30, 0.5) 49.15254%, rgba(210, 105, 30, 0.25) 49.15254%, rgba(210, 105, 30, 0.25) 50.84746%, rgba(210, 105, 30, 0.5) 50.84746%, rgba(210, 105, 30, 0.5) 57.62712%, rgba(210, 105, 30, 0.25) 57.62712%, rgba(210, 105, 30, 0.25) 59.32203%, rgba(210, 105, 30, 0.5) 59.32203%, rgba(210, 105, 30, 0.5) 66.10169%, rgba(210, 105, 30, 0.25) 66.10169%, rgba(210, 105, 30, 0.25) 67.79661%, rgba(210, 105, 30, 0.5) 67.79661%, rgba(210, 105, 30, 0.5) 74.57627%, rgba(210, 105, 30, 0.25) 74.57627%, rgba(210, 105, 30, 0.25) 76.27119%, rgba(210, 105, 30, 0.5) 76.27119%, rgba(210, 105, 30, 0.5) 83.05085%, rgba(210, 105, 30, 0.25) 83.05085%, rgba(210, 105, 30, 0.25) 84.74576%, rgba(210, 105, 30, 0.5) 84.74576%, rgba(210, 105, 30, 0.5) 91.52542%, rgba(210, 105, 30, 0.25) 91.52542%, rgba(210, 105, 30, 0.25) 93.22034%, rgba(210, 105, 30, 0.5) 93.22034%, rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.77966%, rgba(210, 105, 30, 0.25) 6.77966%, rgba(210, 105, 30, 0.25) 8.47458%, rgba(210, 105, 30, 0.5) 8.47458%, rgba(210, 105, 30, 0.5) 15.25424%, rgba(210, 105, 30, 0.25) 15.25424%, rgba(210, 105, 30, 0.25) 16.94915%, rgba(210, 105, 30, 0.5) 16.94915%, rgba(210, 105, 30, 0.5) 23.72881%, rgba(210, 105, 30, 0.25) 23.72881%, rgba(210, 105, 30, 0.25) 25.42373%, rgba(210, 105, 30, 0.5) 25.42373%, rgba(210, 105, 30, 0.5) 32.20339%, rgba(210, 105, 30, 0.25) 32.20339%, rgba(210, 105, 30, 0.25) 33.89831%, rgba(210, 105, 30, 0.5) 33.89831%, rgba(210, 105, 30, 0.5) 40.67797%, rgba(210, 105, 30, 0.25) 40.67797%, rgba(210, 105, 30, 0.25) 42.37288%, rgba(210, 105, 30, 0.5) 42.37288%, rgba(210, 105, 30, 0.5) 49.15254%, rgba(210, 105, 30, 0.25) 49.15254%, rgba(210, 105, 30, 0.25) 50.84746%, rgba(210, 105, 30, 0.5) 50.84746%, rgba(210, 105, 30, 0.5) 57.62712%, rgba(210, 105, 30, 0.25) 57.62712%, rgba(210, 105, 30, 0.25) 59.32203%, rgba(210, 105, 30, 0.5) 59.32203%, rgba(210, 105, 30, 0.5) 66.10169%, rgba(210, 105, 30, 0.25) 66.10169%, rgba(210, 105, 30, 0.25) 67.79661%, rgba(210, 105, 30, 0.5) 67.79661%, rgba(210, 105, 30, 0.5) 74.57627%, rgba(210, 105, 30, 0.25) 74.57627%, rgba(210, 105, 30, 0.25) 76.27119%, rgba(210, 105, 30, 0.5) 76.27119%, rgba(210, 105, 30, 0.5) 83.05085%, rgba(210, 105, 30, 0.25) 83.05085%, rgba(210, 105, 30, 0.25) 84.74576%, rgba(210, 105, 30, 0.5) 84.74576%, rgba(210, 105, 30, 0.5) 91.52542%, rgba(210, 105, 30, 0.25) 91.52542%, rgba(210, 105, 30, 0.25) 93.22034%, rgba(210, 105, 30, 0.5) 93.22034%, rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 6.77966%, rgba(210, 105, 30, 0.25) 6.77966%, rgba(210, 105, 30, 0.25) 8.47458%, rgba(210, 105, 30, 0.5) 8.47458%, rgba(210, 105, 30, 0.5) 15.25424%, rgba(210, 105, 30, 0.25) 15.25424%, rgba(210, 105, 30, 0.25) 16.94915%, rgba(210, 105, 30, 0.5) 16.94915%, rgba(210, 105, 30, 0.5) 23.72881%, rgba(210, 105, 30, 0.25) 23.72881%, rgba(210, 105, 30, 0.25) 25.42373%, rgba(210, 105, 30, 0.5) 25.42373%, rgba(210, 105, 30, 0.5) 32.20339%, rgba(210, 105, 30, 0.25) 32.20339%, rgba(210, 105, 30, 0.25) 33.89831%, rgba(210, 105, 30, 0.5) 33.89831%, rgba(210, 105, 30, 0.5) 40.67797%, rgba(210, 105, 30, 0.25) 40.67797%, rgba(210, 105, 30, 0.25) 42.37288%, rgba(210, 105, 30, 0.5) 42.37288%, rgba(210, 105, 30, 0.5) 49.15254%, rgba(210, 105, 30, 0.25) 49.15254%, rgba(210, 105, 30, 0.25) 50.84746%, rgba(210, 105, 30, 0.5) 50.84746%, rgba(210, 105, 30, 0.5) 57.62712%, rgba(210, 105, 30, 0.25) 57.62712%, rgba(210, 105, 30, 0.25) 59.32203%, rgba(210, 105, 30, 0.5) 59.32203%, rgba(210, 105, 30, 0.5) 66.10169%, rgba(210, 105, 30, 0.25) 66.10169%, rgba(210, 105, 30, 0.25) 67.79661%, rgba(210, 105, 30, 0.5) 67.79661%, rgba(210, 105, 30, 0.5) 74.57627%, rgba(210, 105, 30, 0.25) 74.57627%, rgba(210, 105, 30, 0.25) 76.27119%, rgba(210, 105, 30, 0.5) 76.27119%, rgba(210, 105, 30, 0.5) 83.05085%, rgba(210, 105, 30, 0.25) 83.05085%, rgba(210, 105, 30, 0.25) 84.74576%, rgba(210, 105, 30, 0.5) 84.74576%, rgba(210, 105, 30, 0.5) 91.52542%, rgba(210, 105, 30, 0.25) 91.52542%, rgba(210, 105, 30, 0.25) 93.22034%, rgba(210, 105, 30, 0.5) 93.22034%, rgba(210, 105, 30, 0.5) 100%);
  width: 49.15254%;
  float: left;
  margin-right: -100%;
  margin-left: 25.42373%;
  clear: none;
}

/* line 27, ../sass/style.scss */
input {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: left;
  font-size: 20px;
  padding: 10px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 37, ../sass/style.scss */
#autocomplete-container {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  clear: left;
  z-index: 999;
  border: 1px solid black;
}

/* line 47, ../sass/style.scss */
ul {
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: block;
}
/* line 53, ../sass/style.scss */
ul .autocomplete-list {
  padding: 10px 5px 10px 5px;
}

/* line 57, ../sass/style.scss */
.highlight {
  background-color: #EBEBEB;
}

/* line 61, ../sass/style.scss */
#result {
  width: 83.05085%;
  float: left;
  margin-right: -100%;
  margin-left: 8.47458%;
  clear: none;
  min-height: 50px;
}

/* line 67, ../sass/style.scss */
.autocomplete-selectedList {
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  border: 1px solid black;
}
/* line 70, ../sass/style.scss */
.autocomplete-selectedList .autocomplete-selItem {
  display: inline-block;
}
/* line 73, ../sass/style.scss */
.autocomplete-selectedList .autocomplete-selSpan {
  display: inline-block;
}
